[Desktop Entry]
Type=Application
Name=fouad wire
Comment=Launch fouad wire
# Absolute paths so it works from Applications menu
Exec=/home/kali/Desktop/New\ Folder\ 2/myapp
TryExec=/home/kali/Desktop/New\ Folder\ 2/myapp
Icon=/home/kali/Desktop/New\ Folder\ 2/icon.png
Terminal=false
Categories=Utility;Network;
StartupNotify=true
